#################################################################################
# STOP ANYTHING EXECUTING IN THIS FOLDER                                        #
#################################################################################
php_flag engine off
RemoveHandler .php
RemoveType .php

<FilesMatch "\.((php[0-9]?)|p?html?|pl|cgi|sh|java|cpp|c|h|js|rc)$">
    SetHandler None
    Order Deny,Allow
    Deny from All
</FilesMatch>

# Force the MIME to be text/css. Nothing else whould be served from here
Header set Content-Type "text/css"

RewriteEngine On

# If the requested file is not a css file, deny it
RewriteCond %{REQUEST_URI} !\.css$ [NC]
RewriteRule . - [F,L]
