#################################################################################
#                                                                               #
#                           FRAMEWORK HTACCESS RULES                            #
#                                                                               #
#################################################################################
# RELEASE       1.0                                                             #
# AUTHOR        Jon Thompson                                                    #
# DATE          9th October 2017                                                #
#################################################################################

Options -Indexes

RewriteEngine On

RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [L]